h1 {
    text-align : center;
}
table {
    class : table table-bordered;
    cellspacing : 0;
    cellpadding : 0;
}
.jumbotron {
    max-height : 170px;
}
footer {
    align: center;
}
#contentlayout {
    display : inline-block;
    vertical-align: middle;
}
