h1 {
    text-align : center;
}
.jumbotron {
    max-height : 170px;
}
footer {
    align: rightr;
}
#contentlayout {
    display : inline-block;
    vertical-align: middle;
}
td {
    width: 0em;
    height: 0em;
}
